<section>
    <div class="sky">
      <div class="clouds"></div>
      <div class="airplane">
        <div>
          <img src="assets/images/aeroplane.png">
          <div class="flame"></div>
        </div>
      </div>
    </div>
  </section>

  <div>
    <section class="container">
      <app-book-flight></app-book-flight>
    </section>
  </div>

  <section class="container">

    <div class="row mt-80">
      <div class="col-md-4 mt-4">
           <img src="assets/images/banner.jpg" alt="" title="" class="w-100" />
      </div>

      <div class="col-md-4 mt-4">
        <img src="assets/images/banner2.png" alt="" title="" class="w-100" />
      </div>

      <div class="col-md-4 mt-4">
        <img src="assets/images/banner3.jpeg" alt="" title="" class="w-100" />
      </div>
    </div>
    
  </section>