<section class="banner_title"><h1>Contact Us</h1></section>
<section class="container">
    
  
    <div class="row mt-80">
       <div class="col-md-3 text-center mt-4">
         <img src="assets/images/mail_icon.jpg" alt="" title="" width="54" />
         <p>onlineflightsystme@gmail.com</p>
       </div>
       <div class="col-md-3 text-center mt-4">
        <img src="assets/images/phone_icon.jpg" alt="" title="" width="54" />
        <p>+91-568-898-8955</p>
      </div>

      <div class="col-md-3 text-center mt-4">
        <img src="assets/images/location.jpg" alt="" title="" width="54" />
        <p>ST-2, Lane No-12<br />New delhi, 23564</p>
      </div>
      <div class="col-md-3 text-center mt-4">
       <img src="assets/images/web.jpg" alt="" title="" width="54" />
       <p>www.onlineflightsystem.com</p>
     </div>
   </div>

   <div class="staticFooter">
        <ul class="row">
             <li class="col-md-3">
                 <div class="staticFooterHeading">24x7 Help</div>
                 <p class="careText">You can also use your Paytm App for raising a complaint. For complete list of our phone numbers.</p>
             </li>
             <li class="col-md-3">
                 <div class="staticFooterHeading">Trust</div>
                 <p>Your money is yours! All refunds come with no question asked guarantee.</p>
            </li>
            <li class="col-md-3">
                <div class="staticFooterHeading">100% Assurance</div>
                <p>At Paytm, we provide 100% assurance. If you have any issue, your money is immediately refunded.</p>
            </li>
            <li class="col-md-3">
                <div class="staticFooterHeading">Our Promise</div>
                <p>Happiness is guaranteed. If we fall short of your expectations, give us a shout.</p>
            </li>
    </ul></div>
    
</section>

    
            
