<div class="fot_gap"></div>
  <footer>
    <section class="fot_top">
     <div class="container">
      <div class="row">
        <div class="col-md-4 mt-4">
          <img src="./assets/images/logo_fot.png" alt="" title="" />
        </div>

        <div class="col-md-4">
          
        </div>
      </div>
     </div>
    </section>
    <section class="fot_bot">
      <div class="container">
        <details>
          <summary>&copy; 2021 All Rights Reserved</summary>
          <p>This is online flight booking system</p>
        </details>
      </div>
    </section>
  </footer>

