<form action="flight_detail.html" class="mt-4 w-100 search-form"> 
    <h4>Normal Booking</h4>
    <table class="table table-striped mb-0 flight-detail">
      <thead>
        <tr>
          <th>Sorted By:</th>
          <th>Departure</th>
          <th>Duration</th>
          <th>Arrival</th>
          <th>Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><img src="assets/images/flight_icon.png" alt="" title="" width="24" /> John</td>
          <td>05:35<br />New Delhi</td>
          <td>02 h 45 m</td>
          <td>08:35<br />New Delhi</td>
          <td>1000</td>
          <td>
            <a href="checkout.html"><button type="button">Book Now</button></a>
          </td>
        </tr>
        <tr>
          <td><img src="assets/images/flight_icon.png" alt="" title="" width="24" /> John</td>
          <td>05:35<br />New Delhi</td>
          <td>02 h 45 m</td>
          <td>08:35<br />New Delhi</td>
          <td>1500</td>
          <td>
            <a href="checkout.html"><button type="button">Book Now</button></a>
          </td>
        </tr>
        <tr>
          <td><img src="assets/images/flight_icon.png" alt="" title="" width="24" /> John</td>
          <td>05:35<br />New Delhi</td>
          <td>02 h 45 m</td>
          <td>08:35<br />New Delhi</td>
          <td>2000</td>
          <td>
            <a href="checkout.html"><button type="button">Book Now</button></a>
          </td>
        </tr>
        <tr>
          <td><img src="assets/images/flight_icon.png" alt="" title="" width="24" /> John</td>
          <td>05:35<br />New Delhi</td>
          <td>02 h 45 m</td>
          <td>08:35<br />New Delhi</td>
          <td>2500</td>
          <td>
            <a href="checkout.html"><button type="button">Book Now</button></a>
          </td>
        </tr>
        <tr>
          <td><img src="assets/images/flight_icon.png" alt="" title="" width="24" /> John</td>
          <td>05:35<br />New Delhi</td>
          <td>02 h 45 m</td>
          <td>08:35<br />New Delhi</td>
          <td>3000</td>
          <td>
            <a href="checkout.html"><button type="button">Book Now</button></a>
          </td>
        </tr>
        <tr>
          <td><img src="assets/images/flight_icon.png" alt="" title="" width="24" /> John</td>
          <td>05:35<br />New Delhi</td>
          <td>02 h 45 m</td>
          <td>08:35<br />New Delhi</td>
          <td>3500</td>
          <td>
            <a ><button type="button">Book Now</button></a>
          </td>
        </tr>
      </tbody>
    </table> 
  </form>  
